@import '~web-styles/src/variables';

.Tooltip {
  display: inline;
  position: relative;

  &__button {
    background-color: transparent;
    cursor: pointer;
    height: auto;
    margin-left: 0.25rem;
    position: relative;
    top: 0.188rem;
    width: auto;
  }

  .backdrop {
    background: none;
  }

  &__container {
    background-color: transparent;
    border: none;
    bottom: auto;
    left: auto;
    padding: 0.625rem 0;
    position: absolute;
    right: -0.25rem;
    top: 1.25rem;
    visibility: hidden;
    z-index: 1;

    &::backdrop {
      background: none;
    }

    @include media-breakpoint-down(sm) {
      overflow: inherit;
    }
  }

  &__wrapper {
    background-color: $white;
    border: .064rem solid map-get( $notify, '200' );
    padding: 1rem;
    position: relative;
    width: 20.625rem;

    @include media-breakpoint-down(sm) {
      max-width: 20.635rem;
      width: 100vw;
    }
  }

  &__caret {
    position: absolute;
    right: -1px;
    top: -0.688rem;

    &--shape {
      border-bottom: .688rem solid map-get( $notify, '200' );
      border-left: .688rem solid transparent;
      border-right: .688rem solid transparent;
      height: 0;
      position: relative;
      width: 0;

      &::after {
        border-bottom: .687rem solid $white;
        border-left: .687rem solid transparent;
        border-right: .687rem solid transparent;
        content: '';
        height: 0;
        left: -.687rem;
        position: absolute;
        top: .1rem;
        width: 0;
      }
    }

    &--flipped {
      bottom: -.688rem;
      top: unset;
      transform: rotate( 180deg );
    }
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__icon {
    align-self: center;
    padding: 0 1rem 0 0;
  }

  &__message {
    margin: 0 1.313rem 0 0;
  }

  &__action {
    margin: .688rem 0 0;
  }

  &__close {
    button {
      height: unset;
      width: unset;
    }
  }
}
